{% extends "base.html" %}
{% block content %}
<h1 class="mb-4">Drones Management Dashboard</h1>

<div class="row text-center">
  <div class="col-md-3">
    <div class="card border-primary shadow-sm">
      <div class="card-body">
    <h5>Total Tasks</h5>
        <p class="display-6">
          {{ num_tasks_total }}
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card border-success shadow-sm">
      <div class="card-body">
    <h5>Completed</h5>
        <p class="display-6">
          {{ num_tasks_done }}
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card border-warning shadow-sm">
      <div class="card-body">
    <h5>Pending</h5>
        <p class="display-6">
          {{ num_tasks_pending }}
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card border-info shadow-sm">
      <div class="card-body">
    <h5>Workers</h5>
        <p class="display-6">
          {{ num_workers }}
        </p>
      </div>
    </div>
  </div>
</div>

<hr>
<h4>Tasks completed in {{ current_month }}</h4>
{% if tasks_done_this_month %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>
        #
      </th>
      <th>
        Name
      </th>
      <th>
        Deadline
      </th>
      <th>
        Type
      </th>
      <th>
        Priority
      </th>
    </tr>
  </thead>
  <tbody>
  {% for task in tasks_done_this_month %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ task.name }}</td>
      <td>{{ task.deadline }}</td>
      <td>{{ task.task_type.name }}</td>
      <td>{{ task.priority }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
  <p>No tasks completed this month.</p>
{% endif %}
{% endblock %}
